<!DOCTYPE html>
<html lang="en">
<title>VR-PAINTING WEB PAGE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/Contentstyle.css" type="text/css" />
<link rel="stylesheet" href="css/About.css" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">

<body>
    <header>
        <img src="">
    </header>
    <div class="row">
        <div class="column side">
            <div class="nav">
                <ul>
                    <li class="Home"><a href="/">กลับสู่หน้าหลัก</a></li>
                    <li class="Contact"><a href="/contact">Contact Us</a></li>
                    <li class="VR-PAINTING"><a class="active" href="#">Location</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="column middle" style="background-attachment:fixed;background-image:url(img/Banner2.png);background-repeat:no-repeat;max-width: 1000;background-color: rgb(23, 142, 247);">
                <div class="nav">
                    <ul>
                        <li class="Home">หน้าหลัก</li>
                        <p>></p>
                        <li class="Vr-painting">Location</li>
                    </ul>
                    <div>
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10059.588311783795!2d100.63214291771654!3d13.566134023400297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d5a7a69428373%3A0xcfb9155ee6c4859a!2z4Lir4LmJ4Liy4LiH4Lir4Li44LmJ4LiZ4Liq4LmI4Lin4LiZ4LiI4Liz4LiB4Lix4LiUIOC4p-C4teC4reC4suC4o-C5jCDguYDguJ7guYnguJnguJfguYzguJXguLTguYnguIcg4LmC4Lib4Lij4LiU4Lix4LiB4Liq4LmM!5e0!3m2!1sth!2sth!4v1606465721466!5m2!1sth!2sth"
                        width="500" height="450" class="responsive2" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div> 
            </div>
            <div class="column side" >
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%9E%E0%B9%88%E0%B8%99%E0%B8%AA%E0%B8%B5%E0%B8%9D%E0%B8%B8%E0%B9%88%E0%B8%99%E0%B8%97%E0%B8%B8%E0%B8%81%E0%B8%8A%E0%B8%99%E0%B8%B4%E0%B8%94-By-VRpainting-794227757645326%2F&tabs=timeline&width=260&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="280" height="300" class="responsive2" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    
            </div>
        </div>
    </div>
    <footer class="footer-container">
        <div class="padding-16">
            <p style="color:white;">Copyright © 2020 All Rights Reserved</p>
            <img src="img/LOGO.png" width="25" height="15">
            <p style="color: white;font-size:10px;font-family: 'kanit',sans-serif;">หจก.วีอาร์ เพ้นท์ติ้ง โพดักส์
            </p>
            <p style="color: white;font-size:10px;font-family: 'kanit',sans-serif;">71/3 หมู่ที่ 4 ต.แพรกษา อ.เมือง
                จ.สมุทรปราการ 10280</p>
            <h6 style="color: white;font-family: 'kanit',sans-serif;">โทร : 0-2138-2437 , มือถือ : 096-978-6768 , Email : vr-painting@hotmail.com</h6>

        </div>
    </footer>
</body>

</html>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   