<!DOCTYPE html>
<html lang="en">
<title>VR-PAINTING WEB PAGE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/Contentstyle.css" type="text/css" />
<link rel="stylesheet" href="/css/About.css" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">


<body>
    <header>

    </header>
    <div class="row">
        <div class="column side">
            <div class="nav">
                <ul>
                    <li class="Home"><a href="/">กลับสู่หน้าหลัก</a></li>
                    <li class="VR-PAINTING"><a class="active" href="#">Vr-painting</a></li>
                    <li class="powder coating"><a href="/About/powderCoat">powder coating</a></li>
                    <li class="การเตรียมผิว"><a href="/About/preparation">การเตรียมผิว</a></li>
                    <li class="ตัวอย่างผลงาน"><a href="/About/example-work">ตัวอย่างผลงาน</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="column middle" style="background-attachment:fixed;background-image:url(img/Banner2.png);background-repeat:no-repeat;max-width: 1000;background-color: rgb(23, 142, 247);">
                <div class="nav">
                    <ul>
                        <li class="Home"><a href="#">About</a></li>
                        <p>></p>
                        <li class="Vr-painting"><a href="#">Vr-Painting</a></li>
                    </ul>
                </div>
                <div>
                    <h2>VR เกิดขึ้นอย่างไร?</h2>
                    <p style="font-size: 25px;font-family: 'kanit',sans-serif;">หจก.วีอาร์ เพ้นท์ติ้ง โพดักส์(VR-Painting Product)</p>
                        <p style="font-size: 15px;font-family: 'kanit',sans-serif;"> ถูกก่อตั้งเมื่อปี 2548 โดยประกอบธุรกิจหลักเกี่ยวกับการพ่นสีฝุ่น 
                        ให้กับชิ้นงานในอุตสาหกรรมต่างๆ หรือเฟอร์นิเจอร์ โดยผิวชิ้นงานจะต้องมีลักษณะเป็นสื่อนำไฟฟ้าเท่านั้นจึงจะสามารถนำมาพ่นสีได้</p>
                        <p style="font-size: 15px;font-family: 'kanit',sans-serif;">บริษัทมีความมุ่งมั่นที่จะทำการพัฒนาทั้งคุณภาพและงานบริการ
                        เพื่อสร้างความมั่นใจแก่ลูกค้าทุกคน ด้วยประสบการณ์ทำงานมากว่า 15 ปี ทางเรามีระบบมากมายที่จะรองรับความต้องการของลูกค้าอย่างเพียงพอ
                    และเราก็ยังคงพัฒนาอย่างต่อเนื่องและสม่ำเสมอ ด้วยภายใต้นโยบาย </p><h3><dd> "เน้นคุณภาพ มากประสบการณ์ บริการเป็นเลิศ"</dd></h3>
                    <h2>แล้วทำไมต้องเลือก VR?</h2>
                    <p style="font-size: 15px;font-family: 'kanit',sans-serif;">เราดำเนินงานภายใต้นโยบายที่ต้องคำนึงถึงคุณภาพและความพึงพอใจ
                    ของลูกค้าเป็นหลัก เราจึงต้องใส่ใจในทุกกระบวนการ โดยเริ่มตั้งแต่รับมอบชิ้นงาน ไปจนกระทั่งส่งมอบชิ้นงาน ทุกกระบวนการดำเนินการโดยช่างผู้ชำนาญงาน
                ระบบคัดแยกและการเตรียมผิวที่ได้มาตรฐาน ระบบ QC ที่ตรวจสอบอย่างเคร่งคัดที่จะไม่ทำให้ชิ้นงานที่เสียหลุดรอดไปถึงมือลูกค้าได้ ตลอดจนระบบแพคกิ้ง
                ที่ลูกค้าสามารถเลือกเองได้ว่าต้องการแบบไหน และเหตุผลมากมายที่เราจะสร้างความประทับใจให้แก่ท่าน เพียงท่านเข้ามาทำความรู้จักกับเรา</p>
                <dd><h3>" VR PAINTING PRODUCT "</h3></dd>
                </div>  
            </div>
            <div class="column side" >
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%9E%E0%B9%88%E0%B8%99%E0%B8%AA%E0%B8%B5%E0%B8%9D%E0%B8%B8%E0%B9%88%E0%B8%99%E0%B8%97%E0%B8%B8%E0%B8%81%E0%B8%8A%E0%B8%99%E0%B8%B4%E0%B8%94-By-VRpainting-794227757645326%2F&tabs=timeline&width=260&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="280" height="300" class="responsive2" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    
            </div>
        </div>
    </div>
    <footer class="footer-container">
        <div class="padding-16">
            <p style="color:white;">Copyright © 2020 All Rights Reserved</p>
            <img src="/img/LOGO.png" width="25" height="15">
            <p style="color: white;font-size:10px;font-family: 'kanit',sans-serif;">หจก.วีอาร์ เพ้นท์ติ้ง โพดักส์
            </p>
            <p style="color: white;font-size:10px;font-family: 'kanit',sans-serif;">71/3 หมู่ที่ 4 ต.แพรกษา อ.เมือง
                จ.สมุทรปราการ 10280</p>
            <h6 style="color: white;font-family: 'kanit',sans-serif;">โทร : 0-2138-2437 , มือถือ : 096-978-6768 , Email : vr-painting@hotmail.com</h6>

        </div>
    </footer>
</body>

</html>