<!DOCTYPE html>
<html lang="en">
<title>VR-PAINTING WEB PAGE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/Contentstyle.css" type="text/css" />
<link rel="stylesheet" href="css/About.css" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">

<body>
    <header>
        <img src="">
    </header>
    <div class="row">
        <div class="column side">
            <div class="nav">
                <ul>

                    <li class="Home"><a href="/">กลับสู่หน้าหลัก</a></li>
                    <li class="Advice"><a class="active" href="#">คำแนะนำต่างๆ</a></li>
                    <li class="Thickness"><a href="/Advice/Packed">เลือกตามใจคุณ</a></li>
                    <li class="Material"><a href="/Advice/material">ชิ้นงานที่สามารถพ่นที่วีอาร์</a></li>
                    <!--<li class="ตัวอย่างผลงาน"><a href="/About/example-work">ตัวอย่างผลงาน</a></li>-->
                </ul>
            </div>
        </div>
        <div>
            <div class="column middle" style="background-attachment:fixed;background-image:url(img/Banner2.png);background-repeat:no-repeat;max-width: 1000;background-color: rgb(23, 142, 247);">
                <div class="nav">
                    <ul>
                        <li class="Home">หน้าหลัก</li>
                        <p>></p>
                        <li class="Advice">Advice</li>
                    </ul>
                </div>
                    <div>
                        <h2>คำแนะนำ (Advice)</h2>
                    <p style="font-size: 15px;font-family: 'kanit',sans-serif;">คำแนะนำเบื้องต้นก่อนนำงานมาพ่นกับทางวีอาร์
                        มีข้อกำหนดอยู่บางอย่างสำหรับตัวชิ้นงาน ที่ทางลูกค้าต้องเตรียมมาให้ถูกต้องตามข้อกำหนดจึงจะสามารถนำมาพ่นสีที่วีอาร์ได้
                    </p>
                        <img src="/img/VR-ADVICE.png"  class="responsive" width="620" height="300"
                        style=" max-width: 650px; padding-top: 20px; padding-bottom: 100px;">
                    </div>
                    <div>
                        <h1> We will be update later</h1>
                    </div>
                </div>
            </div>
            <div class="column side" >
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%9E%E0%B9%88%E0%B8%99%E0%B8%AA%E0%B8%B5%E0%B8%9D%E0%B8%B8%E0%B9%88%E0%B8%99%E0%B8%97%E0%B8%B8%E0%B8%81%E0%B8%8A%E0%B8%99%E0%B8%B4%E0%B8%94-By-VRpainting-794227757645326%2F&tabs=timeline&width=260&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="280" height="300" class="responsive2" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    
            </div>
        </div>
    </div>
    <footer class="footer-container">
        <div class="padding-16">
            <p style="color:white;">Copyright © 2020 All Rights Reserved</p>
            <img src="img/LOGO.png" width="25" height="15">
            <p style="color: white;font-size:10px;font-family: 'kanit',sans-serif;">หจก.วีอาร์ เพ้นท์ติ้ง โพดักส์
            </p>
            <p style="color: white;font-size:10px;font-family: 'kanit',sans-serif;">71/3 หมู่ที่ 4 ต.แพรกษา อ.เมือง
                จ.สมุทรปราการ 10280</p>
            <h6 style="color: white;font-family: 'kanit',sans-serif;">โทร : 0-2138-2437 , มือถือ : 096-978-6768 , Email : vr-painting@hotmail.com</h6>

        </div>
    </footer>
</body>

</html>