<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Contentstyle.css" type="text/css" />
    <link rel="stylesheet" href="/css/About.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<body>
    <header>

    </header>
    <div class="row">
        <div class="column side">
            <div class="nav">
                <ul>

                    <li class="Home"><a href="/">กลับสู่หน้าหลัก</a></li>
                    <li class="Advice"><a href="/Advice" href="#">คำแนะนำต่างๆ</a></li>
                    <li class="Thickness"><a  href="/Advice/Packed">เลือกตามใจคุณ</a></li>
                    <li class="Material"><a class="active" href="#">ชิ้นงานที่สามารถพ่นที่วีอาร์</a></li>
                    <!--<li class="ตัวอย่างผลงาน"><a href="/About/example-work">ตัวอย่างผลงาน</a></li>-->
                </ul>
            </div>
        </div>
        <div>
            <div class="column middle"
                style="background-attachment:fixed;background-image:url(/img/Banner2.png);background-repeat:no-repeat;max-width: 1000;background-color: rgb(23, 142, 247);">
                <div class="nav">
                    <ul>
                        <li class="Home">Advice</li>
                        <p>></p>
                        <li class="Powder coating">Material</li>
                    </ul>
                </div>
                <div>
                    <h2>สิ่งที่สามารถนำมาพ่นสีฝุ่นที่ VR ได้</h2>
                    <p><dd>สิ่งที่สามารถนำมาพ่นสีฝุ่นที่ VR ได้ต้องเป็นวัสดุที่นำไฟฟ้า เพราะการพ่นสีฝุ่นจำเป็นต้องใช้ประจุ</dd>ไฟฟ้าเข้ามามีส่วนร่วมในกระบวนการยึดเกาะ
                        ของสี ดังตาราง
                    </p>
                    
                    <table class="w3-table-all w3-margin-bottom" style="color:black;">
                        <tr>
                            <th class="w3-center">Work</th>
                        
                            <th class="w3-center">Length(m)</th>
                            <th class="w3-center">Width(m)</th>
                            <th class="w3-center">Height(m)</th>
                        </tr>
                        <tr>
                            <td class="w3-center">เหล็ก</td>
                            <td class="w3-center">ไม่เกิน 6</td>
                            <td class="w3-center">ไม่เกิน 1.5</td>
                            <td class="w3-center">ไม่เกิน 1.5 ≈ 1.7</td>
                        </tr>
                        <tr>
                            <td class="w3-center">อะลูมิเนียม</td>
                            <td class="w3-center">ไม่เกิน 6</td>
                            <td class="w3-center">ไม่เกิน 1.5</td>
                            <td class="w3-center">ไม่เกิน 1.5 ≈ 1.7</td>
                        </tr>
                        <tr>
                            <td class="w3-center">งานชุบซิงค์</td>
                            <td class="w3-center">ไม่เกิน 6</td>
                            <td class="w3-center">ไม่เกิน 1.5</td>
                            <td class="w3-center">ไม่เกิน 1.5 ≈ 1.7</td>
                        </tr>
                        <tr>
                            <td class="w3-center">งานชุบ EDP</td>
                            <td class="w3-center">ไม่เกิน 6</td>
                            <td class="w3-center">ไม่เกิน 1.5</td>
                            <td class="w3-center">ไม่เกิน 1.5 ≈ 1.7</td>
                        </tr>
                        <tr>
                            <td class="w3-center">อื่นๆ </td>
                            <td class="w3-center">ไม่เกิน 6</td>
                            <td class="w3-center">ไม่เกิน 1.5</td>
                            <td class="w3-center">ไม่เกิน 1.5 ≈ 1.7</td>
                        </tr>
                    </table>             
                </div>
            </div>
            <div class="column side">
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%9E%E0%B9%88%E0%B8%99%E0%B8%AA%E0%B8%B5%E0%B8%9D%E0%B8%B8%E0%B9%88%E0%B8%99%E0%B8%97%E0%B8%B8%E0%B8%81%E0%B8%8A%E0%B8%99%E0%B8%B4%E0%B8%94-By-VRpainting-794227757645326%2F&tabs=timeline&width=260&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="280" height="300" class="responsive2" style="border:none;overflow:hidden" scrolling="no"
                    frameborder="0" allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

            </div>
        </div>
    </div>
    <footer class="w3-center w3-black w3-padding-16">
        <p style="color:white;">Copyright © 2020 All Rights Reserved</p>
        <img src="/img/LOGO.png" width="25" height="15">
        <p style="color: white;font-size:10px;font-family: 'kanit',sans-serif;">หจก.วีอาร์ เพ้นท์ติ้ง โพดักส์
        </p>
        <p style="color: white;font-size:10px;font-family: 'kanit',sans-serif;">71/3 หมู่ที่ 4 ต.แพรกษา อ.เมือง
            จ.สมุทรปราการ 10280</p>
        <h6 style="color: white;font-family: 'kanit',sans-serif;">โทร : 0-2138-2437 , มือถือ : 096-978-6768 , Email :
            vr-painting@hotmail.com</h6>
    </footer>
</body>

</html>